INSTANCE_DOMAIN=api.topia.io
INTERACTIVE_KEY=ongjc3hGXRxY7NhZyDOt
INTERACTIVE_SECRET=YzdjMTQ1ZDctMzY3YS00NDkxLTg2YmUtNTRiZjkyZWYyNDRj
LEADERBOARD_BASE_URL=https://v2lboard0-dev-topia.topia-rtsdk.com
NODE_ENV="development"
